<div class="contenido contenido-home">
    <div class="alinearGlobal">
        <div class="agregarIncidente">
            <form ation="">
                <h2>Registrarme</h2>

                <div class="item">
                    <label for="">Nombre</label>
                    <input type="text" name="" id="">
                </div>
                <div class="item">
                    <label for="">Apellido</label>
                    <input type="text" name="" id="">
                </div>
                <div class="item">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="" id="">
                </div>
                <div class="item">
                    <label for="">Edad</label>
                    <input type="text" name="" id="">
                </div>
                <div class="item">
                    <label for="">Correo Electrónico</label>
                    <input type="text" name="" id="">
                </div>
                <div class="item">
                    <label for="">Password</label>
                    <input type="password" name="" id="">
                </div>
                <input type="button" value="Agregar">
            </form>
        </div>
    </div>
</div>