.contenido-footer {
    background: rgb(2,0,36);
    background: linear-gradient(59deg, rgba(2,0,36,1) 38%, rgba(9,9,121,1) 58%, rgba(0,212,255,1) 98%, rgba(109,229,254,1) 100%);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }