<div class="contenido contenido-menu">
    <div class="alinearGlobal">
        <div class="menu">
            <div class="logo">
               <a href="" routerLink="/Home"> <img src="assets/logo.png" alt="logo miumg" width="50"></a>
            </div>
            <div class="menu-items">
                <div class="item"><a href="" routerLink="/Register">Registrar</a></div>
                <div class="item"><a href="" routerLink="/Auth">Iniciar sesión</a></div>
                <div class="item"><a href="" routerLink="/Info">Quienes somos</a></div>
            </div>
        </div>
    </div>
</div>