<div class="contenido contenido-home">
    <div class="map" #map></div>
    <div class="alinearGlobal">
        <div class="agregarIncidente">
            <form ation="">
                <h2>Agregar incidente</h2>

                <div class="item">
                    <label for="">Fecha:</label>
                    <input type="date" name="" id="">
                </div>
                <div class="item">
                    <label for="">Hora:</label>
                    <input type="number" name="" id="">
                </div>
                <div class="item">
                    <label for="">Tipo de incidente:</label>
                    <select>
                        <option>--Seleccione una opción--</option>
                        <option>Asalto a mano armada</option>
                        <option>Urto</option>
                        <option>Accidente automobilistico</option>
                    </select>
                </div>
                <div class="item">
                    <label for="">Descripción:</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="item">
                   <a href="">agregar fotos</a>
                </div>
                <div class="item-fotos">

                </div>
                <input type="button" value="Agregar">
            </form>
        </div>
    </div>
</div>