<div class="contenido contenido-home">
    <div class="alinearMapa">

       <div class="agregarIncidente">
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>

        
            <form [ngClass]="{'formView': mostrar, 'formOculto': !mostrar}"  [formGroup]="validForm">
                <h2>Agregar incidente</h2>

                <div *ngIf="item == 1" class="item">
                    <label for="">Fecha:<span class="requerido">*</span></label>
                    <input type="date" name="" id="" formControlName="Fecha">
                    <div  *ngIf="Fecha?.invalid && ( Fecha?.touched || Fecha?.dirty )"  class="errors errorsInput">
                        {{errorsInput(Fecha?.errors, 'Fecha')}}
                    </div>
                </div>
                <div *ngIf="item == 1" class="item">
                    <label for="">Hora:<span class="requerido">*</span></label>
                    <div class="hora">
                        <div class="horas">
                            <select formControlName="HH">
                                <option value="00" selected>00:</option>
                                <option *ngFor="let hora of horas" value="{{hora}}">{{hora}}</option>
                            </select>
                            <div  *ngIf="HH?.invalid && ( HH?.touched || HH?.dirty )"  class="errors errorsInput">
                                {{errorsInput(HH?.errors, 'HH')}}
                            </div>
                        </div>
                        <div class="minutos">
                            <select formControlName="MM">
                                <option value="00" selected>00</option>
                                <option *ngFor="let minuto of minutos" value="{{minuto}}">{{minuto}}</option>
                            </select>
                            <div  *ngIf="MM?.invalid && ( MM?.touched || MM?.dirty )"  class="errors errorsInput">
                                {{errorsInput(MM?.errors, 'MM')}}
                            </div>
                        </div>
                        <div class="periodo">
                            <select (change)="addPeriodo($event)">
                                <option value="AM"selected>AM</option>
                                <option value="PM">PM</option>
                            </select>
                          
                        </div>                       
                    </div>
                </div>
                <div *ngIf="item == 1" class="item">
                    <label for="">Tipo de incidente:<span class="requerido">*</span></label>
                    <select formControlName="IdEvento">
                        <option value="" [disabled]="true">--Seleccione una opción--</option>
                        <option *ngFor="let evento of eventos" value="{{evento?.id_evento}}">{{evento?.nombre_evento}}</option>
                    </select>
                    <div  *ngIf="IdEvento?.invalid && ( IdEvento?.touched || IdEvento?.dirty )"  class="errors errorsInput">
                        {{errorsInput(IdEvento?.errors, 'IdEvento')}}
                    </div>
                </div>
                <div *ngIf="item == 1" class="item">
                    <label for="">Descripción:<span class="requerido">*</span></label>
                    <textarea name="" id="" cols="30" rows="10" formControlName="Descripcion"></textarea>
                    <div  *ngIf="Descripcion?.invalid && ( Descripcion?.touched || Descripcion?.dirty )"  class="errors errorsInputTextA">
                        {{errorsInput(Descripcion?.errors, 'Descripción')}}
                    </div>
                </div>

                <div *ngIf="item == 2" class="item">
                    <label for="">Foto 1</label>
                    <input type="file" name="" id="" (change)="addFile($event,1)">
                </div>
                
                <div *ngIf="item == 2" class="item">
                    <label for="">Foto 2</label>
                    <input type="file" name="" id="" (change)="addFile($event, 2)">
                </div>

                <div *ngIf="spinner"  class="spinner">
                    <span class="loader"></span>
                </div>
              
                <div class="botones">
                    <input *ngIf="item >=2" type="button" [disabled]="spinner" value="Regresar" (click)="continuarRegresar($event)">
                    <input *ngIf="item <= 1"type="button" [disabled]="spinner" value="Continuar" (click)="continuarRegresar($event)">
                    <input *ngIf="item >= 2"type="button" [disabled]="spinner" value="Agregar Incidente" (click)="onSubmit($event)" >
                </div>
            </form>
        </div>
    </div>
</div>