<div class="contenido contenido-home">
    <div class="alinearGlobal">
        <div class="agregarIncidente">
            <form ation="">
                <h2>Terminos y condiciones</h2><br><br>
                <div class="cont">
                    <p>
                        <b>1. Aceptación de los términos</b><br><br>
                        Al acceder y utilizar la API de Registro de Eventos Delictivos con Ubicación (en adelante, "la API"), aceptas cumplir con estos términos y condiciones de uso. Si no estás de acuerdo con alguno de estos términos, te instamos a que no utilices la API.
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>2. Uso Autorizado</b><br><br>
                        2.1. La API está diseñada para registrar eventos delictivos utilizando la ubicación de los usuarios con el fin de proporcionar información sobre la seguridad y prevención del delito.
                        <br><br>
                        2.2. Queda prohibido el uso de la API con fines ilegales o inmorales, incluyendo, pero no limitado a, la realización de actividades delictivas.
                    </p>
                    <br>
                    <br>
                    <p>
                        <b>3. Recopilación de Datos de Ubicación</b><br><br>
                        3.1. Al utilizar la API, autorizas la recopilación y el almacenamiento de tus datos de ubicación con el propósito exclusivo de registrar eventos delictivos.
                        <br>
                        <br>
                        3.2. La precisión de la información de ubicación puede variar según la disponibilidad de servicios de ubicación en tu dispositivo.
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>4. Privacidad y Seguridad</b><br><br>
                        4.1. Nos comprometemos a proteger la privacidad y seguridad de tus datos de ubicación de acuerdo con nuestras políticas de privacidad.
                        <br>
                        <br>
                        4.2. No compartiremos tus datos de ubicación con terceros sin tu consentimiento expreso, a menos que estemos obligados por ley.
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>5. Responsabilidades del Usuario</b><br><br>
                        5.1. Eres responsable de la veracidad y precisión de la información proporcionada al utilizar la API.
                        <br>
                        <br>
                        5.2. Debes cumplir con todas las leyes y regulaciones locales relacionadas con la recopilación y el uso de datos de ubicación.
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>6. Limitación de Responsabilidad</b><br><br>
                        6.1. La API se proporciona "tal cual" y no garantizamos su disponibilidad ininterrumpida o libre de errores.
                        <br>
                        <br>
                       6.2. No seremos responsables de daños directos, indirectos, incidentales, consecuentes o especiales derivados del uso de la API.
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>7. Modificaciones de los Términos</b><br><br>
                        Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se te notificará sobre tales cambios, y tu uso continuado de la API después de dichas modificaciones constituirá tu aceptación de los términos actualizados.
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>8. Contacto</b><br><br>
                        Para cualquier pregunta o inquietud relacionada con estos términos y condiciones, ponte en contacto con nosotros a través de [correo electrónico o formulario de contacto].
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>