<div class="contenido contenido-home">
    <div class="alinearGlobal">
        <div class="agregarIncidente">
            <form ation="" [formGroup]="validForm">
                <h2>Iniciar Sesión</h2>

                <div class="item">
                    <label for="">Correo Electrónico:<span class="requerido">*</span></label>
                    <input type="text" name="" id="" formControlName="Email">
                    <div  *ngIf="Email?.invalid && ( Email?.touched || Email?.dirty )"  class="errorsInput">
                        {{errorsInput(Email?.errors, 'Correo Electronico')}}
                    </div>
                </div>
                <div class="item">
                    <label for="">Contraseña:<span class="requerido">*</span></label>
                    <input type="password" name="" id="" formControlName="Password">
                    <div  *ngIf="Password?.invalid && ( Password?.touched || Password?.dirty )"  class="errorsInput">
                        {{errorsInput(Password?.errors, 'Contraseña')}}
                    </div>
                </div>
                <div *ngIf="spinner"  class="spinner">
                    <span class="loader"></span>
                  </div>
                <div class="item">
                    <a routerLink="/Valid/Email"> Recuperar contraseña <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg></a>
                </div>
                <input type="button" value="Ingresar" (click)="onSubmit($event)" >
            </form>
        </div>
    </div>
</div>